<template>
    <div class="row edit">
        <b-form @submit="onSubmit">
            <div class="form-group">
              <b-form-file
                  v-model="photo"
                  :state="Boolean(photo)"
                  placeholder="Resim dosyası ekleyiniz..."
                  drop-placeholder="Resim dosyası ekleyiniz..."
              ></b-form-file>
            </div>
            <div class="form-group">
              <b-form-input v-model="name" placeholder="Ad"></b-form-input>
            </div>
            <div class="form-group">
              <b-form-input v-model="surname" placeholder="Soyad"></b-form-input>
            </div>
            <div class="form-group">
              <b-form-input v-model="telephone" placeholder="Telefon"></b-form-input>
              </div>
            <div class="form-group">
              <b-form-input v-model="email" placeholder="E-mail"></b-form-input>
              </div>
            <div class="form-group">
              <b-form-input v-model="password" placeholder="Şifre" type="password"></b-form-input>
            </div>
            <b-button type="submit" class="float-right" variant="primary">Düzenle</b-button>
        </b-form>
    </div>
</template>
<script>
import axios from 'axios';

export default {
    data(){
        return {
            name: '',
            surname: '',
            telephone:'',
            email:'',
            password:'',
            photo:null
        }
    },
    methods:{
        async onSubmit(evt){
            evt.preventDefault()

          var formData = new FormData();
          formData.append('name', this.name);
          formData.append('surname', this.surname);
          formData.append('telephone', this.telephone);
          formData.append('email', this.email);
          formData.append('photo', this.photo);
          formData.append('password', this.password);

            axios
            .post('http://127.0.0.1:8000/api/user/edit', formData, { headers: {"Authorization" : `Bearer ${localStorage.access_token}`} })
        }
    },
    mounted(){
        axios
          .get('http://127.0.0.1:8000/api/user',   { headers: {"Authorization" : `Bearer ${localStorage.access_token}`} })
          .then(response => {
            var message = response.data.message;
            this.name = message.name;
            this.surname = message.surname;
            this.telephone = message.telephone;
            this.email = message.email;
          })
    }
}
</script>
<style scoped>
.edit {
    margin-top:25px;
}
.edit form{
  margin:auto;
}
</style>