<template>
    <div class="row login">
        <b-form @submit="onSubmit">
            <div class="form-group">
              <b-form-input v-model="email" placeholder="E-mail"></b-form-input>
              </div>
            <div class="form-group">
              <b-form-input v-model="password" placeholder="Şifre" type="password"></b-form-input>
            </div>
            <b-button type="submit" class="float-right" variant="primary">Giriş Yap</b-button>
        </b-form>
    </div>
</template>

<script>
import axios from 'axios';

export default {
  data(){
        return {
            email:'',
            password:''
        }
    },
    methods:{
        async onSubmit(evt){
            evt.preventDefault()

            axios
            .post('http://127.0.0.1:8000/api/user/login', {
                email: this.email,
                password: this.password
            })
            .then(response => {
                console.log(response)
                localStorage.access_token = response.data.message.access_token;

                this.$router.push('edit')

            })
        }
    }
}
</script>

<style scoped>
.login {
    margin-top:25px;
}
.login form{
  margin:auto;
}
</style>