
<template>
    <div class="row register">
        <b-form @submit="onSubmit">
            <div class="form-group">
              <b-form-file
                  v-model="photo"
                  :state="Boolean(photo)"
                  placeholder="Resim dosyası ekleyiniz..."
                  drop-placeholder="Resim dosyası ekleyiniz..."
              ></b-form-file>
            </div>
            <div class="form-group">
              <b-form-input v-model="name" placeholder="Ad"></b-form-input>
            </div>
            <div class="form-group">
              <b-form-input v-model="surname" placeholder="Soyad"></b-form-input>
            </div>
            <div class="form-group">
              <b-form-input v-model="telephone" placeholder="Telefon"></b-form-input>
              </div>
            <div class="form-group">
              <b-form-input v-model="email" placeholder="E-mail"></b-form-input>
              </div>
            <div class="form-group">
              <b-form-input v-model="password" placeholder="Şifre" type="password"></b-form-input>
            </div>
            <b-button type="submit" class="float-right" variant="primary">Kayıt Ol</b-button>
        </b-form>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data(){
        return {
            name: '',
            surname: '',
            telephone:'',
            email:'',
            password:'',
            photo:null
        }
    },
    methods:{
        async onSubmit(evt){
            evt.preventDefault()

          var formData = new FormData();
          formData.append('name', this.name);
          formData.append('surname', this.surname);
          formData.append('telephone', this.telephone);
          formData.append('email', this.email);
          formData.append('photo', this.photo);
          formData.append('password', this.password);

            axios
            .post('http://127.0.0.1:8000/api/user/register', formData)
            .then(() => this.$router.push('login'))
        }
    }
}
</script>


<style scoped>
.register {
    margin-top:25px;
}
.register form{
  margin:auto;
}
</style>